:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --btn-bg-color: #008BFE;
  --btn-text-color: #F0F4F8;
  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}
